@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100vh = 100% of the viewport height */
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 109, 119),
    rgb(131, 197, 190),
    rgb(226, 149, 120)
  );
  font-family: "Secular One", sans-serif;
}

h1 {
  color: white;
  font-size: 75px;
  margin: 0;
}

h2 {
  color: aquamarine;
  font-size: 40px;
  margin: 0;
}

p {
  color: salmon;
  font-size: 20px;
}
